.form-group{
    margin-bottom: 20px;
}

.form-group input{
    font-size: 12px;
    border-radius: 15px;
    padding: 10px;
}

.form-floating textarea{
    font-size: 18px;
    border-radius: 15px;
}

#inputState{
    font-size: 12px;
    border-radius: 15px;
}

.icon{
    font-size: 30px;
    color: blue;
}

.contact-section{
    background-image: url('https://i.ibb.co/dfHfHjF/pexels-damir-mijailovic-5409941.jpg');
    padding: 15px 10px;
    background-repeat: no-repeat;
    background-size: cover;
}



.contact p{
    font-size: 12px;
}

.submit{
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    color: #fff;
    background-color: orange;
    transition: 0.3s;
}