ul li{
    font-weight: 500;
    font-size: 16px;
    margin-right: 20px;
}

#login{
    background: orange;
    color: #fff;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
}

#login:hover{
    background: blue;
}

#register{
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid orange;
    border-radius: 12px;
    transition: 0.3s;
}

#register:hover{
    background-color: orange;
    color: #fff;
}

.my-nav{
    position: absolute;
    z-index: 10;
    width: 100%;
}